<div class="clearfix"></div>

            <div class="row">
              <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                  <div class="x_title">
                    <h2>View all Additional Services <small>Services</small></h2>
                    <div class="clearfix"></div>
                  </div>
                  <div class="x_content">
                    <table id="datatable" class="table table-striped table-bordered">
                      <thead>
                        <tr>
                          <th>Name</th>
                          <th>Description</th>
                          <th>Fee</th>
                          <th></th>
                        </tr>
                      </thead>
                      <tbody>
                      <% @services.each do |service| %>
                        <tr>
                          <td><%= service.name %></td>
                          <td><%= service.description %></td>
                          <td><%= service.fee %></td>
                          <td><%= link_to('Edit this Service', '/') %></td>
                        </tr>
                      <% end %>
                      </tbody>
                    </table>
                    <%= link_to('Add a Service', new_club_additional_service_path(params[:club_id]), html_options = { class: 'btn btn-primary'}) %>
                  </div>
                </div>
              </div>

