            <div class="clearfix"></div>

            <div class="row">

              <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                  <div class="x_title">
                    <h2>Create a new Customer <small>new</small></h2>
                    <ul class="nav navbar-right panel_toolbox">
                      <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                      </li>
                      <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                        <ul class="dropdown-menu" role="menu">
                          <li><a href="#">Settings 1</a>
                          </li>
                          <li><a href="#">Settings 2</a>
                          </li>
                        </ul>
                      </li>
                      <li><a class="close-link"><i class="fa fa-close"></i></a>
                      </li>
                    </ul>
                    <div class="clearfix"></div>
                  </div>
                  <div class="x_content">

                    <%= simple_form_for @customer, :url => club_customers_path, :method => :post do |f| %>
                      <%= f.input :first_name %>
                      <%= f.input :last_name %>
                      <%= f.input :email %>
                      <%= f.input :phone_home %>
                      <%= f.input :phone_mobile %>
                      <%= f.input :birthdate,
                        as: :date,
                        :start_year => Date.today.year - 16,
                        :end_year => 1900,
                        :order => [ :day, :month, :year]
                      %>
                      <%= f.input :gender %>
                      <%= f.input :photo %>
                      <%= f.button :submit, "Create Customer" %>
                    <% end %>

                   </div>
                </div>
              </div>
            </div>
